body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.header {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  background-color: lightblue;
  gap: 14px;
}
.header h1 {
  color: #000;
  font-family: "Raleway", sans-serif;
}
.face1 {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}
.vidio-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.vidio-div video {
  height: 400px;
}
.face2 {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.face2-contents-container {
  display: grid;
  justify-content: center;
  align-items: center;
  width: auto;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.face2-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 900px;
  height: 50px;
  margin-bottom: 10px;
}
.face2-contents label {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 440;
}
.face2-contents p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}
@media (max-width: 768px) {
  .face2-contents-container {
    width: 100%;
    margin: 30px;
  }
  .face2-contents{
    width: 295px;
  }
  .face2-contents label{
    font-size: 18px;
  }
  .face2-contents p{
    font-size: 18px;
  }
}

.face3 {
  display: grid;
  width: 100%;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 50px;
  justify-content: center;
  text-align: center;
}

.face3-head {
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.face3-head h1 {
  font-family: "Quicksand", sans-serif;
  color: #333;
  text-decoration: underline;
}

#absent-dates-container {
  width: 100%;
  padding: 0 10px; 
}

#absent-dates-container ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 40px;
  padding: 0;
  list-style-type: none;
}

#absent-dates-container ul li {
  border: 2px #333 solid;
  background-color: aliceblue;
  border-radius: 20px;
  font-size: 26px;
  text-align: center;
  padding: 10px 15px;
}

@media (max-width: 768px) {
  #absent-dates-container ul {
    grid-template-columns: repeat(2, 1fr);
  }
  .face3-head h1{
    font-size: 28px;
  }
  #absent-dates-container ul li{
    font-size: 22px;
    padding: 8.5px 11px;
  }
}


.statistics-face{
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}
.statistics-face-head{
  display: grid;
  text-align: center;
  margin-top: 50px;
  font-family: "Quicksand", sans-serif;
  color: #333;
}
@media (min-width: 768px){
  .statistics-face-head{
    margin-top: 70px;
  }
}

@media (max-width: 768px){
  #statistics-face-heading{
    font-size: 25px;
    margin: 25px;
  }
}
.line{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.line div{
  width: 100px;
  height: 5px;
  background-color: black;
  border-radius: 1000px;
}
.statistics-face-main-container{
  display: grid;
  justify-content: center;
  align-items: center;
  width: auto;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  margin-top: 60px;
}
.statistics-face-contents{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 900px;
  height: 50px;
  margin-bottom: 10px;
}

.statistics-face-contents label{
  text-align: left;
  font-size: 23px;
  font-weight: 550;
  font-family: 'Mooli', sans-serif;
}
.statistics-face-contents p{
  text-align: left;
  font-size: 19px;
  font-family: 'Mooli', sans-serif;
}
@media (max-width: 768px) {
  .statistics-face-main-container {
    margin: 10px;
    margin-top: 50px;
    gap: 15px;
  }
  .statistics-face-contents{
    width: 300px;
  }
  .statistics-face-contents label{
    font-size: 20px;
    margin-right: 80px;
  }
  .statistics-face-contents p{
    font-size: 17px;
  }
}