@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body, main {
    margin: 0;
    padding: 0;
}

#loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}
  
#loader {
    height: 315px;
}
@media (max-width: 768px){
    #loader{
        height: 286px;
    }
}
  
#the-content {
    display: none;
    padding: 5px;
}

body {
    font-family: 'Arial', sans-serif;
    overflow-x: hidden;
    transition: background-color 0.4s ease;
    
}

body.menu-active {
    background-color: rgba(255, 255, 255, 0.1);
    overflow: hidden;
}

header {
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    z-index: 1900;
    top: -100px;
    animation: slideDown 1s forwards;
}

@keyframes slideDown {
    from {
        top: -100px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}
header h1{
    font-size: 20px;
}
.navbar {
    position: fixed;
    align-items: center;
    top: 0;
    right: 0;
    padding: 15px;
    animation: slideDown 1s forwards;
    animation-delay: 2s;
    opacity: 0;
}

.hamburger {
    cursor: pointer;
    z-index: 2000;
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: #ffffff;
    padding: 9px;
    border-radius: 50%;
}

.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
    transition: 0.4s;
}

.hamburger.active .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 5px);
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -5px);
}

/* Fullscreen overlay */
.header-list-overlay {
    position: fixed;
    top: 0;
    right: -100%;
    width: 25%;
    height: 100%;
    background-color: #24262b;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    transition: right 0.3s ease;
    z-index: 1000;
}

.header-list-overlay.active {
    right: 0;
}

.header-list-overlay ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
}

.header-list-overlay li {
    margin: 15px 0;
    font-size: 20px;
    font-family: 'Mooli', sans-serif;
    width: 100%;
    text-align: center;
}

.header-list-overlay li a {
    text-decoration: none;
    color: white;
    transition: all 0.3s ease;
    display: block;
    padding: 10px 0;
    width: 100%;
}

.header-list-overlay li a:hover {
    padding-left: 8px;
}

@media (max-width: 768px) {
    .header-list-overlay {
        width: 100%;
        background-color: white;
    }

    .header-list-overlay ul {
        padding: 0;
        margin: 0;
    }

    .header-list-overlay li a {
        color: #333;
    }

    .header-list-overlay li {
        margin: 15px 0;
    }
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}




.face1{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}
.face1 h1{
    position: absolute;
    z-index: 1400;
    text-align: center;
    font-size: 20px;
    color: #00008B;
    font-family: "Montserrat Alternates", sans-serif;
    transform: translateY(-100%);
    animation: slide-in 1s forwards;
    animation-delay: 2s;
    opacity: 0;
}

@keyframes slide-in {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}
.face1-img-div{
    margin: 0;
    padding: 0;
    width: 100%;
    height: fit-content;
    overflow: hidden;
}
.face1-img-div img{
    height: 500px;
    width: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    z-index: 1;
}
#face1img1{
    display: none;
}
@media (min-width: 768px) {
    .face1{
        display: flex;
        justify-content: center;
        height: 100vh;
    }
    .face1-img-div{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #face1img{
        display: none;
    }
    #face1img1{
        display: flex;
        position: relative;
        height: 100vh;
        width: 100%;
        top: -80px;
    }
    .face1 h1{
        color: white;
        font-size: 27px;
    }
}
.face2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
}
.face2-heading-div{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.face2-heading-div h1{
    font-size: 28px;
    font-family: "Raleway", sans-serif;
    color: #333;
    text-shadow: 10px 10px 18px #1a1ab4;
    opacity: 0;
    position: relative;
    animation: slideUp 2s forwards;
    animation-delay: 1.29s;
    opacity: 0;
    margin-bottom: 120px;
    margin-top: 30px;
}

@keyframes slideUp {
    0% {
      opacity: 0;
      transform: translateY(100%); 
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}
@media (max-width: 768px) {
    .face2-heading-div{
        margin-top: 60px;
    }
    .face2-heading-div h1{
        margin-left: 100px;
        margin-right: 100px;
        font-size: 23px;
        
    }
}

.face3 {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: hsl(0, 0%, 94%);
    background-image: url('resources/images/picture4-transformed.jpeg');
    background-size: cover;
    background-attachment: fixed;
}
@media (max-width: 768px){
    .face3{
        background-image: url('resources/images/picture4-transformed-m.jpeg');
    }
}
.face3-divider{
    display: flex;
    margin-top: -30px;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    font-size: 30px;
    font-family: 'Comfortaa', sans-serif;
}
@media(max-width: 768px){
    .face3-divider{
        font-size: 23px;
    }
}
.face3-divider1{
    width: 50%;
    background-color:aquamarine;
    padding: 15px;
}
.face3-divider2{
    width: 50%;
    background-color: cadetblue;
    padding: 15px;
}
.face3-cards-div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.face3-cards {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1), 0 8px 23px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    width: 45%;
    margin-bottom: 10px;
    opacity: 0;
    transform: translateX(0);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
@media (max-width: 768px){
    .face3-cards h2{
        font-size: 20px;
    }
    .face3-cards p{
        font-size: 15px;
    }
}
.face3-cards.slide-in-left {
    animation: slide-in-left 0.6s forwards;
}

.face3-cards.slide-in-right {
    animation: slide-in-right 0.6s forwards;
}

@keyframes slide-in-left {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-right {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.face3-card1 {
    margin-right: auto;
}

.face3-card2 {
    margin-left: auto;
}

@media (max-width: 768px) {
    .face3-cards-div {
        flex-direction: column;
        align-items: center;
    }

    .face3-cards {
        width: 75%;
        margin-bottom: 35px;
    }
}

@media (min-width: 768px) {
    .face3-cards-div {
        flex-direction: column;
        align-items: center;
    }
    .face3-cards {
        width: 60%;
        margin-bottom: 35px;
    }
    .face3-card1 {
        margin-left: 25px;
    }
    
    .face3-card2 {
        margin-right: 25px;
    }
    .face3-cards p {
        font-size: 25px;
    }
}

.face4{
    display: block;
    align-items: center;
    text-align: center;
    width: 100%;
    background-color: #E8F5E9;
}
.face4-heading-div{
    display: block;
    align-items: center;
    padding-top: 60px;
}
.face4-heading-div h1{
    font-family: "Text Me One", sans-serif;
    font-size: 40px;
}
@media (max-width: 768px){
    .face4-heading-div h1{
        font-size: 26.5px;
    }
}
.line {
    top: -14px;
    display: inline-block;
    height: 4px;
    width: 0;
    background-color: #006666;
    transition: width 0.1s;
    margin-bottom: 100px;
}
.face4-cards-div{
    display: flex;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 40px;
    padding-bottom: 140px;
}
@media (max-width: 768px){
    .face4-cards-div{
        display: grid;
    }
}
.face4-cards{
    display: grid;
    width: 30%;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    opacity: 0;
    transform: translateY(-50px);
    transition: transform 0.8s ease, opacity 0.5s ease;
    flex: 1 1 calc(33.333% - 60px);
    box-sizing: border-box;
}
.face4-cards.visible {
    opacity: 1;
    transform: translateY(0);
}

.face4-cards-line{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 0.1px;
    background-color: #535353;
    margin-bottom: 10px;
}
.face4-cards-img-div{
    display: flex;
    overflow: hidden;
    border-radius: 50%;
    height: auto;
    background-color: aqua;
}
.face4-cards-img-div img{
    height: 260px;
}
@media (max-width: 768px){
    .face4-cards{
        width: 300px;
    }
    .face4-cards-img-div img{
        height: 240px;
    }
}

.face5 {
    display: grid;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #C5E1A5;
    padding-bottom: 100px;
}
.face5-h1{
    margin-top: 55px;
    font-family: "Nabla", system-ui;
    font-size: 50px;
    letter-spacing: 5px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.9s ease-out, transform 1s ease-out;
}
@media(max-width:768px){
    .face5-h1{
        font-size: 35px;
    }
}
.face5-h1.visible {
  opacity: 1;
  transform: translateY(0);
}

.slider {
    position: relative;
    width: 100%;
    max-width: 1200px;
    overflow: hidden;
    padding-bottom: 100px;
    padding-top: 100px;
}
  
.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
  
.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 15px;
    flex: 0 0 300px;
    transition: transform 0.3s;
}
  
.card-header {
    background-color: #007bff;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 30px;
    text-align: center;
}
  
.card-header img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}
  
.card-body {
    padding: 20px;
    text-align: center;
    border-top-right-radius: 30px;
    background-color: white;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.face5-card-wrapper{
    background-color: #007bff;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}
.card-body h2 {
    margin: 20px 0 10px;
    font-size: 1.5em;
}
  
.card-body p {
    color: #666;
}
@media(max-width:768px){
    .card-body h2{
        font-size: 1.3em;
    }
}
.navigation {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;
    user-select: none;
}
  
.navigation button {
    background-color: #535353;
    color: #fff;
    border: none;
    outline: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 50%;
    margin: 0 10px;
    height: 65px;
    width: 75px;
    user-select: none;
}
.navigation button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.face6{
    display: grid;
    width: 100%;
    justify-content: center;
    height: auto;
    background-color: white;
}
.face6-heading-div{
    display: grid;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}
.face6-heading-div h1{
    font-family: "Raleway", sans-serif;
    font-weight: 500;
}
.face6-line{
    position: relative;
    top: 0;
    left: 50%;
    width: 0px;
    height: 9px;
    background-color: #007bff;
    border-radius: 40px;
    transform: translate(-50%, -50%);
    transition: width 0.01s ease-out;
}
.face6-heading-div h1{
    font-size: 40px;
}
@media (max-width: 768px){
    .face6-heading-div h1{
        font-size: 24px;
        margin-left: 40px;
        margin-right: 40px;
    }
}
.face6-contents{
    display: grid;
    margin-top: 115px;
    width: 100%;
    gap: 10px;
    padding-bottom: 150PX;
}
.face6-sections{
    display: grid;
    width: 100%;
    gap: 5px;
}
.face6-sections-head{
    display: flex;
    width: 1000px;
    background-color: #FFF5EE;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
}
.face6-sections-head-heading{
    display: flex;
    width: 150%;
}
.face6-sections-head-heading h1{
    font-size: 24px;
    font-family: "Maven Pro", sans-serif;
    font-weight: 480;
}
@media (max-width:768px){
    .face6-sections-head-heading h1{
        font-size: 20px;
    }
}
.face6-sections-head-buttons{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}
.face6-sections-head-buttons button{
    outline: none;
    border: none;
    border-radius: 50%;
    padding: 1px;
    height: 35px;
    width: 35px;
    background-color: black;
    transition-duration: 0.7s;  
}
.face6-sections-head-buttons button:hover{
    transform: scale(1.1);
}
.face6-uparrow{
    display: none;
}
.face6-sections-tail{
    display: none;
    width: 1000px;
    background-color: #ADD8E6;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
}
.face6-sections-tail p{
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 450;
}
@media(max-width: 768px){
    .face6-sections-head{
        width: auto;
        margin-left: 10PX;
        margin-right: 10px;
    }
    .face6-sections-tail{
        width: auto;
        margin-left: 10PX;
        margin-right: 10px;
    }
    .face6-sections-tail p{
        font-size: 17px;
    }
}
@media (max-width: 1024px){
    .face6-sections-head{
        width: auto;
        margin-left: 10PX;
        margin-right: 10px;
    }
    .face6-sections-tail{
        width: auto;
        margin-left: 10PX;
        margin-right: 10px;
    }
}

.insp_starter{
    display: flex;
    width: 100%;
    height: 12vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(8, 117, 145);
}
@media(max-width: 768px){
    .insp_starter{
        height: 10vh;
    }
}
.insp_starter-heading{
    width: 100%;
    height: 100%;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.insp_starter-heading h1{
    color: white;
}

.face7{
    display: flex;
    width: 100%;
    height: 100vh;
    background-image:
     linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
     url('resources/images/Malala-Yousafzai.jpg');
    background-attachment: fixed;
    background-size: cover;
    
}
@media(max-width: 768px){
    .face7{
        background-image:
        linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
        url('resources/images/Malala-Yousafzai-M.jpg');
        background-attachment: fixed;
        background-size: cover;
    }
}
.face7-heading-div{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.face7-heading-div h1{
    color: white;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 450;
    font-size: 30px;
}
@media(max-width: 768px){
    .face7-heading-div h1{
        margin-left: 8px;
        margin-right: 8px;
    }
}

.face8{
    display: flex;
    width: 100%;
    height: 110vh;
    background-image: 
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url('resources/images/abdul-kalam-hd.jpg');
    background-attachment: fixed;
    background-size: cover;
}
@media(max-width: 768px){
    .face8{
        background-image: 
        linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
        url('resources/images/APJ-ABDUL-KALAM.jpg');
        background-attachment: fixed;
        background-size: cover;
    }
}
.face8-heading-div{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.face8-heading-div h1{
    color: white;
    font-family: "Oxygen", sans-serif;
    font-weight: 450;
    font-size: 30px;
}
@media(max-width: 768px){
    .face8-heading-div h1{
        margin-left: 8px;
        margin-right: 8px;
    }
}

.face9{
    display: flex;
    width: 100%;
    height: 110vh;
    background-image: 
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url('resources/images/mahatma-gandhi-1920-x-1171.jpg');
    background-attachment: fixed;
    background-size: cover;
}
@media(max-width: 768px){
    .face9{
        background-image: 
        linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
        url('resources/images/GANDHI-MOBILE.jpg');
        background-attachment: fixed;
        background-size: cover;
    }
}
.face9-heading-div{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.face9-heading-div h1{
    color: white;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 450;
    font-size: 30px;
}
@media(max-width: 768px){
    .face9-heading-div h1{
        margin-left: 8px;
        margin-right: 8px;
    }
}

.face10{
    display: flex;
    width: 100%;
    height: 110vh;
    background-image: 
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url('resources/images/HELEN-KELER.jpg');
    background-attachment: fixed;
    background-size: cover;
}
@media(max-width: 768px){
    .face10{
        background-image: url('resources/images/helen-keller-MOBILE.jpg');
        background-attachment: fixed;
        background-size: cover;
    }
}
.face10-heading-div{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.face10-heading-div h1{
    color:ghostwhite;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 450;
    font-size: 30px;
}
@media(max-width: 768px){
    .face10-heading-div h1{
        margin-left: 8px;
        margin-right: 8px;
    }
}

.face11{
    display: flex;
    width: 100%;
    height: 110vh;
    background-image: 
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url('resources/images/benjamin-franklin-hd.jpg');
    background-attachment: fixed;
    background-size: cover;
}
@media(max-width: 768px){
    .face11{
        background-image: 
        linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
        url('resources/images/benjamin-franklin-portrait.jpg');
        background-attachment: fixed;
        background-size: cover;
    }
}
.face11-heading-div{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.face11-heading-div h1{
    color: white;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 450;
    font-size: 30px;
}
@media(max-width: 768px){
    .face11-heading-div h1{
        margin-left: 8px;
        margin-right: 8px;
    }
}
.face12{
    display: grid;
    width: 100%;
    height: auto;
    padding-bottom: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.face12 h1{
    margin-left: 15px;
    font-family: "Mooli", sans-serif;
    font-size: 40px;
}
@media(max-width: 768px){
    .face12 h1{
        font-size: 25px;
    }
}
.face12-message{
    display: grid;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.face12-message h4{
    margin-left: 15px;
    font-family: "Baloo Chettan 2", sans-serif;
    font-weight: 450;
    font-size: 25px;
}
.face12-message p{
    font-family: "Baloo Chettan 2", sans-serif;
    font-size: 25px;
}
@media(max-width: 768px){
    .face12-message{
        text-align: left;
        margin-left: 15px;
    }
    .face12-message h4{
        font-size: 18px;
        margin-right: 50px;
    }
    .face12-message p{
        margin-right: 50px;
        font-size: 18px;
    }
}
@media(min-width: 768px){
    .face12-message p{
        margin-right: 100px;
        margin-left: 100px;
    }
}
.hidden{
    visibility: hidden;
  }
.typing{
    animation: blink 0.7s infinite step-end;
}
@keyframes blink {
    from, to {
      border-color: transparent;
    }
    50% {
      border-color: black;
    }
}

.face13{
    display: grid;
    width: 100%;
    height: 75vh;
    width: 100%;
    justify-content: center;
    text-align: center;
    background-color: #E8F5E9;
}
.face13 h1{
    color: #666;
    font-size: 30px;
    text-decoration: underline;
}
.face13-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: -300px;
    gap: 200px;
}
.face13-contents{
    display: grid;
}
.face13-contents h3{
    font-size: 24px;
}
@media(max-width: 768px){
    .face13 h1{
        font-size: 25px;
    }
    .face13-contents h3{
        font-size: 20px;
    }
}
.face13-contents-subdiv{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    border: blue 1.5px solid;
    border-radius: 30px;
    transition-duration: 0.5s;
}
.face13-contents h3{
    font-family: "Text Me One", sans-serif;

}
.face13-contents-subdiv:hover{
    transform: scale(1.1);
    background-color: blue;
    border: none;
}
.face13-contents-subdiv a{
    text-decoration: none;
    color: blue;
}
.face13-contents-subdiv:hover a{
    color: white;
}
@media (max-width: 768px){
    .face13{
        height: 100vh;
    }
    .face13 h1{
        margin-bottom: 40px;
    }
    .face13-container{
        display: grid;
        gap: 5px;
        margin-bottom: 30px;
    }
    .face13-contents h3{
        margin-top: -10px;
    }
}

/*******************footer*******/
.footer-container{
	max-width: 100%;
	margin:auto;
}
.f-h-div{
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    margin-top: -50px;
    margin-bottom: 50px;
}
.f-h-div h1{
    font-size: 30px;
    color: #666;
    font-weight: 700;
    font-family: "Montserrat Alternates", sans-serif;
}
@media(max-width: 768px){
    .f-h-div h1{
        font-size: 25px;
    }
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 20%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
.footer-copyright{
    display: flex;
    bottom: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.footer-copyright h6{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #bbbbbb;
    margin-bottom: -100px;
    font-weight: 200;
}